* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --txt-color: rgba(0,0,0,0.8);
    --color-pp: #002855;
  }
  body {
    color: var(--txt-color);
    font-family: 'Bitter', serif;
      position: relative;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
    color: #000000bd;
    width: 100%;
    padding: 0 0;
    box-shadow: 0 4px 6px #657a9283;
    height: 60px;
    top: 0;
    z-index: 999;
    background-color: #fff;
    position: fixed;
    /* background-color: rgb(46, 46, 85); */
  }
  .logo {
    position: relative;
    display: flex;
    align-items: center;
  gap: 0;
  font-family: 'Josefin Sans', sans-serif;
  
  }
  .logo-name {
    color: #002855;
  }
  nav {
    line-height: 60px;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
  }
  ul.navbar-link {
    padding: 0 40px;
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
  }
  ul.navbar-link a {
    text-decoration: none;
    color: #000000bd;
  }
  
  .menu-bar {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 0;
    /* background-color: rgb(153, 25, 25); */
  }
  .menu-bar .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-pp);
    width: 25px;
    height: 2px;
    transition: transform 0.2s, width 0.2s;
  }
  .menu-bar .line-one {
    transform: translate(-50%, -10px);
  }
  .menu-bar .line-three {
    
    transform: translate(-50%, 10px);
  }
  .show .line-one {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .show .line-three {
      width: 25px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .show .line-two {
    width: 0;
  }
  
  .tope {
      font-size: 24px;
      text-transform: capitalize;
      padding: 0 5px;
  }
  

  .footer {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    display: flex;
  justify-content: center;
    align-items: center;
    gap: 30px;
    height: 400px;
    padding: 20px 15px;
    background-color: #002855;
    margin-top: 500px;
  }
  .footer > * {
    width: 30%;
  }
  .footer .input-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .footer .footer-quote {
    line-height: 1.5;
  }
  .footer .contact {
    line-height: 2.5;
  }
  .footer .news {
    line-height: 2.5;
  }
  .footer .input-email input {
  padding: 15px 20px;
  outline: none;
  font-size: 15px;
  border: none;
  }
  .footer .input-email .sub {
  font-size: 15px;
  cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    background-color:#4795ee;
    padding: 15px 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  
  }
  .footer .txt {
    font-size: 21px;
  }
  .footer-quote img {
    color: #0f4481;
  }
  .footer #qou {
    color: #3487e6;
  }
  .social-links {
    display: flex;
    gap: 20px;
  }
  .social-links a {
    color: #fff;
  }

  .livechat { 
    cursor: pointer;
    position: fixed;
    border-radius: 50%;
    bottom: 30px;
    right: 25px; 
    width: 60px;
    height: 60px;
    background: linear-gradient(270deg, #0f4481, #528fd4);
  }
  .livechat i{
    position: absolute;
    /* margin-top: 25%;
    margin-left: 25%; */
    font-size: 25px;
    text-align: center;
    margin-left: 25%;
    color: #fff;
    line-height: 60px;
  }
.contact-head {
    margin-top: 200px;
    padding: 70px;
    /* margin-inline: auto; */
    width: 100%;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    opacity: 0.2;
}
.Gloc {
    margin-top: 60px;
  position: relative;

}
.Gloc .location {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.location .where {
    margin: 40px 0;
}
.gsp .loc .icon  {
    margin: 20px 0;

border-radius: 50%;

background-color: #3487e6;
}
.gsp .loc {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}
/* #geo {
    width: 70px;
    height: 45px;
} */
.gsp .loc  i {
    width: 45px;
height: 45px;
     border-radius: 50%;
    background-color: #bfdbfc;
    text-align: center;
    line-height: 45px;
    color: #2788f7;
}
.gsp .loc .loc-txt h4{
font-family: 'Poppins', sans-serif;
}
.gsp .loc .loc-txt p{
    font-family: 'Poppins', sans-serif;
    color: #555;
}
.contact-head .ctxts {
    
    width: 50%;
    height: 300px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    background-color: #c5dffd;
    
}
.contact-head .p-cad {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}
.contact-head .p-cad h4 {
    font-size: 30px;
}
.contact-head .img-cad {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url(img/appre.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-head .con-img {
width: 50%;
height: 300px;
background-color: #c5dffd;
}
  @media (max-width: 750px) {
    .footer .input-email .sub {
        padding: 12.6px 20px;
    }
    .footer .input-email input {
        padding: 15px 15px;
       
        font-size: 11px;
        border: none;
        }
    .contact-head .p-cad p {
         margin: 20px 0;
    }
    ul.navbar-link {
        display: block;
        list-style: none;
      }
      .contact-head {
        padding: 25px;
        flex-wrap: wrap;
      }
      .contact-head .p-cad {
        border-bottom-left-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .contact-head .img-cad {
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .contact-head .con-img {
        width: 100%;
    }
      nav {
        display: block;
        z-index: 9999;
      }
      .link ul li {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        padding: 5px 10px;
      }
      .link ul li a {
        color: #ffffffde;
      }
      .link ul li:hover {
        background-color: rgb(64, 104, 177);
        color: #030d11;
      }
      ul.navbar-link {
        padding: 0 0;
        transition: width 0.4s;
      }
      .menu-bar {
        display: block;
      }
      .link {
        z-index: 99;
        position: fixed;
        left: 0;
        width: 0;
        display: none;
        box-shadow: 0 0 3px #ffffff65;
        background-color: rgb(32, 31, 73);
        transition: 4s;
        height: 100vh;
    
      }
    
      .height.link {
        width: 100%;
        transition: 0.4s;
        display: block;
      }
      .footer .input-email {
     
        margin: 0 30px;
        gap: 0;
      }
      
      .footer {
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        display: flex;
        flex-direction: column;
      justify-content: start;
        align-items: unset;
        gap: 30px;
        height: unset;
        padding: 10px 15px;
        background-color: #002855;
      }
      .footer > * {
        width: 80%;
      }
  }